.cont {
    padding: 1%;
    display: flex;
    justify-content: center;
}
.banner {
    width: 100%;
    padding-bottom: 1%;
}

.contenedor {
    padding-left: 1%;
    text-align: center;
}

p{
    color:#153F59 !important;
    font-size: 15pt;
}

.titulo{
    text-align: center;
}

.sinopsis{
    display: inline;
    margin: 1%;
   text-align:left;
}

.contSinop{

}


.imgReview{
    width: 3%;
    border-radius: 50%;
    margin-right: 20px;
}
.disp{
    display: flex;
}

.alinear{
    text-align: start;
}

.carta {
    background: linear-gradient(30deg, #7CBDE6, #7CBDE6);
    border-radius: 5px;
    padding: 1%;
    text-align: start;
    margin: 1%;
    border: 1%;
}

@media (max-width: 3000px) {
    .banner {
        width: 50%;
        align-items: center;
        padding-bottom: 1%;
    }
}

/*Estrellas*/
.starRating {
    font-size: 1.5em;
  }
  
  .starRating span {
    display: inline-block;
    width: 1em;
    overflow: hidden;
    position: relative;
    color: #ccc;
  }
  
  .starRating span:before {
    content: "★";
    position: absolute;
    left: 0;
    color: gold;
  }
  
  .starRating span:nth-child(1):before { z-index: 5; }
  .starRating span:nth-child(2):before { z-index: 4; }
  .starRating span:nth-child(3):before { z-index: 3; }
  .starRating span:nth-child(4):before { z-index: 2; }
  .starRating span:nth-child(5):before { z-index: 1; }
  
  /* Para estrellas vacías */
  .starRatingEmpty span:before {
    content: "☆";
    color: #ccc;
  }

  /**/
  .search {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border: 1px solid #222222;
    border-radius:10px;
    outline: none;
    color: #222222;
    background-color: #7CBDE6;
}

.searchIn {
    width: 100%;
    position: relative;
    display: flex;
    margin: 1%;
}

.contIn{
    margin: 1%;
 padding: auto;
}