* {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.movieCard{
    list-style: none;
    font-size: 1.5rem;

}

.movieImage{
    border-radius: 10px;
    background-color: azure;
}

.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

/*@media (max-width: 560px) {
    .moviesGrid {
      grid-template-columns: 100%;
    }
  }*/